$font-size: 1rem;
$brand: 'cbf';

$palette: (
    'primary': #3498db,
    'secondary': #2ecc71,
    'danger': #ff0000,
    'light': #f4f4f4
);

$titles: (
    'sm': 14px,
    'md': 18px,
    'lg': 24px,
    'xl': 32px,
    'xxl': 48px
);