@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use 'sass:map';

.alert {

    &-primary,
    &-secondary,
    &-danger {
        padding: 15px;
        margin: 0.5rem;
        border-radius: 10px;
        color: #fff;
        width: calc(13% - 1rem - 30px);
        font-weight: bold;
        font-family: 'Lato', sans-serif;
        text-align: center;
        color: color('light');
    }

    &-primary {
        background-color: color('primary');
    }

    &-danger {
        background-color: color('danger');
    }

    &-secondary {
        background-color: reduceColor('secondary', -40%);
    }
}