$primary: rgb(5, 17, 172);
$secondary: rgb(12, 204, 70);
$light: #ffffff;
$light_opacity: rgba($light, 0.5);
$dark: #000000;
$dark_opacity: rgba($dark, 0.5);
$font-size: 1rem;
$brand: 'cbf';


.#{$brand}-title-primary {
    font-size: $font-size;
    color: $primary;
}

.#{$brand}-title-secondary {
    font-size: $font-size;
    color: $secondary;
}

.#{$brand}-title-light {
    font-size: $font-size;
    color: $light_opacity;
}

.#{$brand}-title-dark {
    font-size: $font-size;
    color: $dark_opacity;
}