@use '../abstracts/variables' as *;
@use 'sass:map';

.#{$brand}-card {
    width: 200px;
    padding: 0;

    border: {
        radius: 5px;
        width: 1px;
        style: solid;
        color: map.get($palette, 'secondary');
    }

    img {
        width: 100%;
        height: 150px;
        display: block;
    }

    &__body {
        padding: 10px;
        text-align: center;
        background: map.get($palette, 'light');
        line-height: 50px;
    }

    h1 {
        height: 50px;
        line-height: 50px;
        margin: 0;
    }
}